.shilledLanguage-counts {
}

.shilledLanguage-bar {
  background-color: $color-primary-green;
  height: 2.5rem;
  color: $color-white;
}

.slide-leave-active,
.slide-enter-active {
  transition: all 0.5s;
}
.slide-enter {
  transform: translateX(100%);
}
.slide-leave-to {
  transform: translateX(-100%);
}

.slide-move {
  transition: all 0.5s;
}
