@mixin post {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  padding: 0.2rem 1rem;

  &__post-info {
    &--name {
      color: $color-purple;
    }
  }

  &__comment {
    color: white;
    margin-bottom: 1.4rem;

    .quotelink {
      color: $color-primary-red;
    }

    .quote {
      color: $color-primary-green;
    }
  }
}

// standard post
.thread-post {
  @include post;
  background-color: $color-primary-dark;

  &__comment {
  }
}

// OP post
.OP-post {
  @include post;
  font-size: 2rem;
}
