@import './abstract/variables';
@import './abstract/mixins';

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: $color-black;
  font-family: Ubuntu Mono;
}

// page layout parts
@import './layout/header';
@import './layout/grid';
@import './layout/thread';
@import './layout/display';

// vue components
@import './components/shilledLanguageGraph';
@import './components/threadPost';
