<div>
  <div class="row">
    <div class="col-1-of-2 shilledLangGraph">
      <shilled-language-bar-graph
        :languageCounts="languageCounts"
      ></shilled-language-bar-graph>
    </div>
    <div class="col-1-of-2">
      <div class="chanThread">
        <thread-info :threadInfo="threadInfo"></thread-info>
        <thread-posts :posts="filteredPosts"></thread-posts>
      </div>

      <div class="icon-keyboard_arrow_down">
        <svg class="icon-keyboard_arrow_down-svg" @click="adjustView">
          <use xlink:href="data/symbol-defs.svg#icon-keyboard_arrow_down"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
