// Dark color options
$color-secondary-dark: #353535;
$color-primary-dark: #222222;

$color-dark-blue: #001242;

// White and black
$color-white: #fff;
$color-black: #0f0f0f;

$color-purple: #733e39;

// Neon green for text
$color-primary-green: #00b277;

// Red for links and stuff
$color-primary-red: #b21e00;

// Light blue
$color-blue: #8695ba;

// Grid variables
$gutter-vertical: 1.2rem;
$gutter-horizontal: 2rem;
$grid-width: 114rem;
