// Dark color options
$color-secondary-dark: #353535;
$color-primary-dark: #222222;

$color-dark-blue: #001242;

// White and black
$color-white: #fff;
$color-black: #0f0f0f;

// Neon green for text

$color-primary-green: #00b277;

// Red for links and stuff
$color-primary-red: #b21e00;

// Nice navy color
$color-navy-blue: #284b63;

// Grid variables
$gutter-vertical: 0.8rem;
$gutter-horizontal: 2rem;
$grid-width: 114rem;
