
// Dark color options
$color-secondary-dark: #353535;
$color-primary-dark: #001242;

// White and black
$color-white: #fff;
$color-black: #0f0f0f;

// Neon green for text
$color-primary-green: #00b27a;


// Nice navy color
$color-navy-blue: #284B63;



// Grid variables
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;
$grid-width: 114rem;

