.row {
  max-width: $grid-width;
  margin: 0 auto;

  transition: all 1s;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  // custom grid for bar graph
  .langName {
    margin-bottom: 0.3rem;
    &:not(:last-child) {
      margin-top: 1rem;
    }
  }

  .barGraph {
    width: calc(100% - (2 * #{$gutter-horizontal}));
    float: left;

    margin-right: $gutter-horizontal;
  }

  .languageCount {
    width: 2rem;
    float: left;
  }
}
