.thread-img {
  float: left;
  margin-right: 2rem;
}

.thread-posts {
  float: none;
  margin-right: 2rem;
}

.adjust-view {
  font-size: 4rem;
  //font-weight: 1200;
  cursor: pointer;
  display: inline-block;
  color: $color-primary-green;
}

.icon-keyboard_arrow_down {
  cursor: pointer;
  text-align: right;
  margin-right: 2rem;
  margin-top: 0.5rem;

  &-svg {
    &:hover {
      background-color: $color-blue;
    }

    &:active {
      background-color: $color-purple;
    }

    width: 15%;
    fill: $color-primary-green;
    height: 4.2rem;
  }
}

.icon-keyboard_arrow_right {
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: $color-blue;
  }

  &:active {
    background-color: $color-purple;
  }

  &--active {
    height: 4.2rem;
    fill: $color-primary-green;
  }

  &--disable {
    height: 4.2rem;
    fill: grey;
  }
}

.icon-keyboard_arrow_left {
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: $color-blue;
  }

  &:active {
    background-color: $color-purple;
  }

  &--active {
    height: 4.2rem;
    fill: $color-primary-green;
  }

  &--disable {
    height: 4.2rem;
    fill: grey;
  }
}
