.thread-img {
  float: left;
  margin-right: 2rem;
}

.thread-posts {
  float: none;
  margin-right: 2rem;
}

.adjust-view {
  font-size: 4rem;
  //font-weight: 1200;
  cursor: pointer;
  display: inline-block;
  color: $color-primary-green;
}

.down-arrow-btn {
  z-index: 1;
  text-align: right;
  margin-right: 2rem;
}

.next-thread {
  font-size: 3rem;
  //font-weight: 1200;
  cursor: pointer;

  color: $color-primary-green;

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }
}
