<div class="display">
  <div class="threadFilters row">
    <div class="threadDate col-1-of-3">
      <sort-graph-dropdown></sort-graph-dropdown>
    </div>
    <div class="col-1-of-3">
      <thread-filters></thread-filters>
    </div>
    <div class="col-1-of-3">
      <thread-select
        :currentThreads="currentThreads"
        :showThread="showThread"
      ></thread-select>
    </div>
  </div>
  <section class="display-options row">
    <div class="col-1-of-4 icon-keyboard_arrow_left">
      <svg :class="prevThreadStyle" @click="prevThread">
        <use xlink:href="data/symbol-defs.svg#icon-keyboard_arrow_left"></use>
      </svg>
    </div>

    <div class="view-choice active-threads col-1-of-4">
      <router-link
        :to="{name: 'active-threads'}"
        class="view-choice__link"
        tag="div"
        :prevThreadStyle="prevThreadStyle"
        :nextThreadStyle="nextThreadStyle"
      >
        Show Active Threads
      </router-link>
    </div>

    <div class="view-choice all-threads col-1-of-4">
      <router-link
        :to="{name: 'all-threads'}"
        class="view-choice__link"
        tag="div"
        :prevThreadStyle="prevThreadStyle"
        :nextThreadStyle="nextThreadStyle"
      >
        Show All Threads
      </router-link>
    </div>

    <div class="col-1-of-4 icon-keyboard_arrow_right">
      <svg :class="nextThreadStyle" @click="nextThread">
        <use xlink:href="data/symbol-defs.svg#icon-keyboard_arrow_right"></use>
      </svg>
    </div>
  </section>

  <router-view></router-view>
</div>
